body{
  background-color: #F5F7F7;
  margin: 0 auto;
  color: #4D4D4D;
}

li{
  list-style-position: inside;
  list-style-type: none;
}

.card{
    box-shadow: 2px 2px 5px 0px rgba(156,156,156,1);
    height: 300px;
    width: 450px;
}