@font-face {
  font-family: "Lato";
  src: url(resources/Lato-Regular.ttf) format("truetype");
}

body{
  background-color: #F5F7F7;
  /*background-color: red;*/
  margin: 0 auto;
  color: #4D4D4D;
}

li{
  list-style-position: inside;
  list-style-type: none;
}

p{
  margin: 10px 5px;
}

a{
  color: #BA4949;
}

.container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
h3{
  margin-left: 40%;
  margin-right: auto;
}
h2{
  margin-left: 40%;
  margin-right: auto;
}

.hovering{
  box-shadow: 4px 14px 5px 0px rgba(0,0,0,0.75);
}


.banner{
  flex-basis: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 45px;
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
  
  
}

.intro img{
  width: 100%;
  height: auto;
  opacity: .6;
  flex-shrink: 1;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
  /*font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;*/
  font-family: Tahoma, 'Geneva', sans-serif;
  box-shadow: 0px 3px 5px 0px rgba(128,128,128,1);
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav li{

  margin: 2px 5px;
}


nav a{
  padding-left: 2px;
  padding-right: 2px;
  color: #BA4949;
  text-decoration: none;
}

nav a:hover{
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

nav .current{
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.main section{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  
}

.full{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #B3D7E3;
  font-family: 'Lato', sans-serif;
  color: #5E5E5E;
}


.left{
  /*border: 2px solid black;*/
  width: 400px;
  height: 382px;
  padding: 5px 5px;
  margin: 5px 5px;
  box-shadow: 2px 2px 5px 0px rgba(156,156,156,1);
  font-family: 'Lato', sans-serif;
  
}
.right{
  /*border: 2px solid black;*/
  width: 400px;
  height: 382px;
  padding: 5px 5px;
  margin: 5px 5px;
  box-shadow: 2px 2px 5px 0px rgba(156,156,156,1);
  font-family: 'Lato', sans-serif;
}

.main section .tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  
}

.tech i{
  font-size: 125px;
  margin: 5px 2px;
  color: #8A5858;
}

.tech i:hover:not(.big){
  box-shadow: 5px 5px 5px 0px rgba(125,125,125,1);
  background-color: #E1F5F5;
  cursor: pointer;
}

.left img{
  width: 100%;
  height: auto;
}

.right img{
  width: 100%;
  height: auto;
}

.tech img{
  width: 130px;
  height: 130px;
}

.content {
  display: none;
}

.big {
  width: 100% !important;
  height: auto !important;
  font-size: 350px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-left: 20px !important;
}

.projects .projectItem{
  display: none;
}

.projects .project{
  margin-right: 10px;
  box-shadow: 2px 2px 5px 0px rgba(156,156,156,1);
  border-radius: 3px;
}

.projects .info{
  display: none;
}

.projects .info span{
  /*margin: 0 5px;*/
  text-align: center;
  border: 1px solid black;
}

.projects .info table{
  margin-right: auto;
  margin-left: auto;
}

.projects .info td{
  vertical-align: top;
  padding: 1px 30px;
}

.projects .info ul{
  margin: 5px 0px;
  padding: 0px 0px;
}

.projects .info h4{
  margin: 1px 1px 1px 1px;
  display: inline-block;
}

.projects li{
  margin: 2px 5px;
  /*border-bottom: 1px solid grey;*/
  width: 200px;
  
}

.projects .info li{
  width: auto;
  box-shadow: none;
}

.project-name:hover{
  cursor: pointer;
}


/*.projects .info h4{
  margin-left:50px;
  margin-right:50px;
  margin-top: 5px;
  margin-bottom: 2px;
  display: inline-block;
}*/


@media all and (max-width: 780px) {
  .main section {
    flex-direction: column;
  }
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13L0u0k18O17rzm4NFO2nx-35tf */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #D6D8DD }	/* Main Primary color */
.color-primary-1 { color: #8E9AB4 }
.color-primary-2 { color: #ADB5C7 }
.color-primary-3 { color: #A3A7AF }
.color-primary-4 { color: #8F939C }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(214,216,221,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(142,154,180,1) }
.rgba-primary-2 { color: rgba(173,181,199,1) }
.rgba-primary-3 { color: rgba(163,167,175,1) }
.rgba-primary-4 { color: rgba(143,147,156,1) }



/* Generated by Paletton.com Â© 2002-2014 */
 /*http://paletton.com */