body{
  background-color: #D6D8DD;
  /*background-color: red;*/
}

.container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /*width: 900px;*/
}
.container img{
  width: 100%;
  height: auto;
  opacity: .6;
  flex-shrink: 1;
}

.banner{
  background-color: #ADB5C7;
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav li{
  list-style-position: inside;
  list-style-type: none;
  margin: 2px 5px;
}