body{
  background-color: #D6D8DD;
  /*background-color: red;*/
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}



.banner{
  background-color: #D6D8DD;
  flex-basis: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 45px;
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
  
}

.intro img{
  width: 100%;
  height: auto;
  opacity: .6;
  flex-shrink: 1;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav li{
  list-style-position: inside;
  list-style-type: none;
  margin: 2px 5px;
}